@{
    Layout = "~/MvcLogic/_Common/Views/Shared/_LayoutAdminPage.cshtml";
    ViewBag.Title = "Панель управления администратора";
}

<a href="~/MvcLogic/Apps/WebApp/TeacherApp/Dashboard/Views/Index.cshtml">~/MvcLogic/Apps/WebApp/TeacherApp/Dashboard/Views/Index.cshtml</a>