<footer class="lk-footer">
    <div class="container">
        <div class="row justify-content-sm-between">
            <div class="col-12 col-sm-auto mb-3 mb-md-0">© @System.Configuration.ConfigurationManager.AppSettings["ProjectName"], 2025</div>
            <div class="col-12 col-sm-auto">
                <div class="row">
                    <div class="col-12 col-sm-auto"> <a class="link" href="/Docs/Terms">Пользовательское соглашение</a></div>
                    <div class="col-12 col-sm-auto"><a class="link" href="/Docs/Privacy">Политика конфиденциальности</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>