@{
    ViewBag.Title = "Пароль восстановлен";
    Layout = "~/MvcLogic/_Common/Views/Shared/_LayoutAccountManagementPage.cshtml";
}

<main class="tp-main tp-login">
    <div class="container pb-6 pt-3">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="p-4 p-lg-6 bg-white border border-dashed">
                    <h1>@ViewBag.Title</h1>
                    <p class="mb-4">
                        Пароль был восстановлен. Для входа @Html.ActionLink("жми сюда", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
