<div class="modal fade" id="answer-guidlines-info" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmaActivation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Правила записи ответа</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Как и на настоящем экзамене вводи ответ без пробелов</li>
                    <li>Десятичные дроби записывай с запятой</li>
                    <li>Важно! В десятичных дробях также не должно быть пробелов после запятой</li>
                    <li>Примеры записи ответов: 11,25 или 1234</li>
                </ul>
            </div>
        </div>
    </div>
</div>