<div class="modal fade" id="const-task-info" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmaActivation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Что это такое?</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Задача-шаблон - это задача со множеством вариантов, генерируемая платформой</li>
                    <li>Числа в вариантах задачи-шаблона отличаются, но принцип решения один во всех вариантах</li>
                    <li>Ваши ученики получат различные варианты данной задачи</li>
                    <li>Также варианты в общем случае не выдаются поисковиком в интернете</li>
                </ul>
            </div>
        </div>
    </div>
</div>